<html>
	<head>
		<title>Loan Simulation</title>
	</head>
	<body>
		<div>
			<p>
				<input id="cpf" name="cpf" type="text" value="95617023470"/>
			</p>
			<p>
				<input id="phone_number" name="phone_number" type="text" value="11961687391" />
			</p>
			<p>
				<input type="button" value="Verificar" onclick="login()" />
			</p>
		</div>
		<div id="custumer"></div>
		<br />
		<div id="form2" style="display: '';"> 
			<h1>Simulation</h1>
			<br />
			<p>
				<input id="loan_value" name="loan_value" type="text" value="1000"/>
			</p>
			<p>
				<select id="installments" name="installments">
					<option value="6">6x</option>
					<option value="12">12x</option>
					<option value="18">18x</option>
					<option value="24">24x</option>
					<option value="36">36x</option>					
				</select>
			</p>
			</p>
			<p>
				<input type="button" value="Simular" onclick="loan()" />
			</p>
		
		</div>

		<div id="results"></div>
		<br />
		
	</body>
</html>

<script type="text/javascript" language="javascript">

function login() {
	var cpf = document.getElementById('cpf').value;
	var phone_number = document.getElementById('phone_number').value;
	var jsonData = '{"cpf": "' + cpf + '", "phone_number": "'+ phone_number +'"}'
	document.getElementById('form2').style.display = "";
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
         if (this.readyState == 4 && this.status == 200) {
         	 document.getElementById("custumer").innerHTML = '<h1>' + this.responseText + '</h1>'
		 }
    };
    xhttp.open("POST", "http://127.0.0.1:5000/api/v1/login", true);
    xhttp.setRequestHeader("Content-type", "application/json");
	xhttp.send(jsonData);
}

function loan() {
	var cpf = document.getElementById('cpf').value;
	var phone_number = document.getElementById('phone_number').value;
	var loan_value = document.getElementById('loan_value').value;
	var installments = document.getElementById('installments').value;
	
	var jsonData = '{"cpf": "' + cpf + '", "phone_number": "'+ phone_number + '", "loan_value": "' + loan_value + '", "installments": "' + installments + '"}'

	document.getElementById('form2').style.display = "";
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
         if (this.readyState == 4 && this.status == 200) {
			obj = JSON.parse(this.responseText)			 
			if (obj.status == false){
				document.getElementById("custumer").innerHTML = '<h1> Erro nos dados do cliente </h1>'
				document.getElementById('form2').style.display = "none";
			}else{
			 	tax = obj.data
			 	simulation(loan_value, installments, tax)
			}
         }
    };
    xhttp.open("POST", "http://127.0.0.1:5000/api/v1/loan", true);
    xhttp.setRequestHeader("Content-type", "application/json");
	xhttp.send(jsonData);
}

function simulation(loan_value, installments, tax) {
	var jsonData = '{"loan_value": "' + loan_value + '", "installments": "'+ installments + '", "tax": "' + tax + '"}'

	document.getElementById('form2').style.display = "";
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
         if (this.readyState == 4 && this.status == 200) {
         	 document.getElementById("results").innerHTML = '<h1>' + JSON.parse(this.responseText).message + '</h1>'
         }
    };
    xhttp.open("POST", "http://127.0.0.1:5000/api/v1/simulation", true);
    xhttp.setRequestHeader("Content-type", "application/json");
	xhttp.send(jsonData);
}

</script>